<div class="card" style="width: 18rem;">
    <img src="<%= `/images/${product.image}` %>" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">
            <%= product.name %>
        </h5>
        <p class="card-text">
            R$<%= product.price %>
            <br>
            <%= product.description %>
        </p>
        <form method="post" action="/shopping-car/create">
            <input type="hidden" name="id" value="<%= product.id %>">
            <button type="submit" class="btn btn-primary">Adicionar ao carrinho</button>
        </form>
    </div>
</div>